
 
<body class='textured'>
 <div *ngIf="!name; else forminfo">
  <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)" id="signin">
    <div class="form-container">
      <fieldset>
      <div class="row columns">
        <h1> Sign In </h1>
       <!--  <label>Name
          <input type="text" formControlName="name" >
        </label>
        <div class="alert" *ngIf ="!rForm.controls['name'].valid && rForm.controls['name'].touched">{{titleAlert}}
        </div> -->

          <label>Email
          <input type="email" formControlName="email">
        </label>
          <div class="alert" *ngIf ="!rForm.controls['email'].valid && rForm.controls['email'].touched">
            Please type your email
        </div>

        <label>Password
          <input type="password" formControlName="password">
        </label>
        <div class="alert" *ngIf ="!rForm.controls['password'].valid && rForm.controls['password'].touched">
          enter your password
        </div> 
     <!--    <label>Description
          <textarea  formControlName="description"></textarea>
        </label>
               <div class="alert" *ngIf ="!rForm.controls['description'].valid && rForm.controls['description'].touched">You must specify description that must be between 30 to 500
        </div>


        <label for="validate">Minimum of 3 Characters</label>
        <input type="checkbox" name="validate" formControlName="validate" value="1"> On -->
        
        <input type="submit" class="button expanded" value="Submit Form" [disabled]="!rForm.valid" >
      </div>
      </fieldset>
    </div>
  </form>
</div>

<div class="signUpOption ">
  <span>
    "
Not a member
    "
  </span>
  <a routerLink="/signup">Sign up</a>
  </div>

<ng-template #forminfo>
  <div class="form-container">
    <div class="row columns">
        <h1>{{ name }}</h1>

        <p>{{ description }}</p>
    </div>
  </div>
</ng-template>
</body>
 <!--<input type="button" class="button expanded" value="Books" (click)="getBooks()">
<h1>{{ my_obj.title}}y</h1>

 -->