.bookCoverContainer {
    position: relative;
    text-align: center;
}
        #imagecol {
    width: 150px;
    text-align: center;
}

#metacol {
    width: 455px;
}
#bookTitle {
    margin-bottom: 0;
    line-height: 26px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
}
.bookTitle {
    color: #333333;
    font-family: "Merriweather", "Georgia", serif;
    font-size: 120%;
    font-weight: bold;
    line-height: 1.3;
}
#bookAuthors .by {
    font-family: inherit;
}


#descriptionContainer {
    *zoom: 1;
    border-bottom: 1px solid #ddd;
}